# Frontend / backend
VITE_API_URL=https://YOUR-RENDER-BACKEND.onrender.com

# Render backend
DATABASE_URL=
PUBLIC_APP_URL=https://YOUR-VERCEL-APP.vercel.app
PAYSTACK_CURRENCY=KES
PAYSTACK_SECRET_KEY=

# Admin
ADMIN_EMAIL=
ADMIN_PASSWORD=
JWT_SECRET=
